---
import SocialLinks from "./SocialLinks.astro";
import {FOOTER_TEXT} from '../consts.ts';
---

<footer>
	<div>{FOOTER_TEXT}</div>
	<br>
	<SocialLinks size={32} />
</footer>
<style>
	footer {
		padding: 2.5em 1em;
		border-top: 1px solid rgb(var(--gray-light));
		background: transparent;
		color: rgb(var(--gray));
		text-align: center;
		font-family: var(--font-mono);
		font-size: 0.72rem;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	:global(.social-links) {
		justify-content: center;
	}
	:global(.social-links a) {
		color: rgb(var(--gray));
	}
	:global(.social-links a:hover) {
		color: rgb(var(--gray-dark));
	}
</style>
